@charset "utf-8";

body{
	height: 100vh;
}

a:hover{
	color:#5d93ff;
}

main{
    display: flex;
}
.main-group{
    max-width: 66.875rem; margin: 0 auto;
    height: auto;
}
 
/* 헤더설정 영역 */
.header-ul{ display: flex; float: right;  position: absolute;   right: 19%;}
.header-ul li{ font-size: 18px; width: 4rem; height: auto; text-align: center; }

/* 프로필 및 태그 설정 영역 */
.pro-tag{ max-width: calc(36.6% - 1.25rem); height: auto; }
.in-group{ padding: 2.5rem; position: relative; margin-right: 1.875rem; }
.in-group::after{
    background: linear-gradient(180deg, #e6e6e6 0, #e6e6e6 48%, #fff);
    position: absolute; content: "";
    width: .0625rem; height: 540px;
    top: 30px; right: -10px; bottom: 0;
}
.profile a img{ width: 75px; height: 75px; border-radius: 50%;}
.pro-tag h1{ font-size: 1.124rem; font-weight: 600; line-height: 1.82813rem; margin: .8125rem 0;}
.list{ margin: 2rem 0; }
.list ul li{ margin: .625rem 0; }
.img ul{ display: flex; }
.img{ margin-bottom: 1.625rem; }
.img ul li{ 
    width: 35px; height: 35px;
    border: 1px solid #000;
    border-radius: 50%; text-align: center;
    line-height: 37px; margin: .25rem;
}
.img ul li img{ width: 17px; height: 17px; }
.tag-list{ color: #b6b6b6; font-size: .875rem; display: inline;}

.tag{ margin-bottom: .815rem;}
.tag ul { margin: 0. -.625rem; }
.tag ul li{ display: inline-block; margin: .625rem .3125rem; padding: 0 .3125rem; height: 35px;}
.tag ul li a{ 
    display: inline-block; height: 35px; padding: 0 1.5rem;
    line-height: 2.1875rem; border: 1px solid #e6e6e6;
    border-radius: 1.25rem; color: #222;
    font-size: 1rem;
}
.cont-list{
		height: auto;
}
.cont-in-list{
	   
}

/* 메인 컨텐츠 영역 */
.main-text{
 
    width: calc(68.6% - .625rem);
    overflow: hidden;

}
.in-cont{
	
	width: 110%;
    padding: 2.5rem 2.1875rem;
     overflow-y: scroll; 
         height: 100vh;
     scroll-behavior: smooth;
     scrollbar-width: none; /* Firefox */
     -ms-overflow-style: none; /* IE and Edge */
}
.in-cont::-webkit-scrollbar{
	disply:none !important;
}
.title-mouse{
	 display: flex;
}
.mouse-wheel{
	 margin-left: 10rem;
}
.title-tag{
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 3.25rem;
    margin-bottom: 3.35625rem;
}
.title-p h4{
	font-size: 1rem;
	 font-weight: 100;
}
.cont-in-list{
    margin-bottom: 2.03125rem;
}
.cont-time{
    font-size: .875rem;
    color: #222;
    font-weight: 600;
    text-transform: uppercase;
}
.item-span-point{
    margin: 0 .3125rem;;
}
.item-sapn a{
    font-size: .875rem;
    color: #f7a046;
    font-weight: 600;
    text-transform: uppercase;
}
.cont-item h2{
    font-size: 1.6875rem;
    line-height: 2.4375rem;
    margin-bottom: .8125rem;
}
.cont-item p{
    font-size: 1rem;
    line-height: 1.625rem;
    margin-bottom: 1.21875rem;

}
.item-readmove{
    font-size: 1rem;
    color: #5d93ff;
}

.viewcont{
    font-size: .825rem;
    color: #b6b6b6;
}
.item-span-point img{
	    width: 15px; height: 15px;
}
/* 모달창 구현

/* 모달창 구현 */

#modal{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0; left: 0;
    background: rgba(0,0,0,0.3);
}

.modal-con {
    display: none;
    position: fixed;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    max-width: 60%;
    min-height: 30%;
    background: #fff;
}
.modal-con .con{
    font-size: 15px; line-height: 1.3;
    padding: 30px;
}
.modal-con .modal-title{
    font-size:20px; 
    padding: 20px; 
    color: #fff;
    background : #5d93ff;
  }

.modal-con .close{
    display:block;
    position:absolute;
    width:30px; height:30px;
    border-radius:50%; 
    border: 3px solid #000;
    text-align:center; line-height: 20px;
    text-decoration:none;
    color:#000; font-size:20px; font-weight: bold;
    right:10px; top:10px;
  }
#tagname{
      width: 300px;
      height: 46px;
      border: 1px solid #b6b6b6;
      padding: 1rem;
  }
#add{
      font-size: 14px;
      color: #fff;
      width: 40px;
      height: 46px;
      background: #5d93ff;
  }
.button{
    font-size: .825rem;
    margin-left: 1rem;
}


/* 마우스 휠 그림 영역 */
.arrow {
  display: block;
  -ms-transform: rotate(45deg);  /* IE 9 */
  -webkit-transform: rotate(45deg);  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  margin: 5px 0 8px 8px;
  width: 10px;
  height: 10px;
  -webkit-animation: mouse-scroll .7s infinite;
  -moz-animation: mouse-scroll .7s infinite;
  -webkit-animation-direction: alternate;
}
.mouse {
  height: 42px;
  width: 24px;
  border-radius: 14px;
  transform: none;
  border: 2px solid #000;
  margin-bottom: 6px;
}
.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: white;
  position: relative;
  height: 4px;
  width: 4px;
  border: 2px solid #000;
  border-radius: 8px;
}
.wheel {
  -webkit-animation: mouse-wheel 1.5s linear infinite;
  -moz-animation: mouse-wheel 1.5s linear infinite;
}
@-webkit-keyframes mouse-wheel {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
}
@-moz-keyframes mouse-wheel {
  0% {
    top: 1px;
  }
  25% {
    top: 2px;
  }
  50% {
    top: 6px;
  }
  75% {
    top: 2px;
  }
  100% {
    top: 1px;
  }
}
@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  25% {
   opacity: .25;
  }
  50% {
    opacity: .5;
  }
  75% {
    opacity: .75;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  25% {
   opacity: .25;
  }
  50% {
    opacity: .5;
  }
  75% {
    opacity: .75;
  }
  100% {
    opacity: 1;
  }
}
@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  25% {
   opacity: .25;
  }
  50% {
    opacity: .5;
  }
  75% {
    opacity: .75;
  }
  100% {
    opacity: 1;
  }
}