body{
    color: #9398aa;
    font-size: 15px;
}

.contents{
    padding-top: 50px;
}
.wrap-contents{
    min-height: calc(100% - 40px);
    margin-bottom: -240px;
    background-color: inherit;
    padding: 0 20px;
}
.contents{
    position: relative;
    min-height: 300px;
    padding-top: 60px;
    margin: 0 auto;
    max-width: 440px;
}
.content-header{
    margin-bottom: 40px;
    text-align: center;
}
.title{
    font-size: 28px;
    color: #535768;
}
.desc{
    margin-top: 15px;
    font-size: 15px;
    color: #9398aa;
}

.contents .input-group{
    position: relative;
    text-align: left;
    padding-bottom: 8px;
}
.input-field{
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.input-wrap{
    -webkit-box-flex: 1;
    flex: 1;
    position: relative;
}
.contents .input-group input{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    font-size: .952rem;
    font-weight: 500;
    color: #334571;
    padding: 15px;
    border: 1px solid #d5d9e2;
    -webkit-appearance: none;
    outline: none;
    vertical-align: middle;
}
/* 인증 메일 버튼부분 */
.btn-wrap{
    margin: 0 0 0 8px;
    width: auto;
}
.btn-warp{
	
    margin-top: 30px;
    width: auto;
}
.btn-primary{
    position: relative;
    display: block;
    width: 100%;
    height: 50px;
    margin: 0 auto;
    font-size: 16px;
    color: #fff;
    font-weight: 900;
    text-decoration: none;
    white-space: nowrap;
    transition: background-color .3s ease,border .3s ease;
    box-sizing: border-box;
    background-color: #378ff1;
    border: 2px solid #378ff1;
}
.btn-primary:disabled{
    border: 2px solid #d1d1de;
    background-color: #d1d1de;
    cursor: default;
}
.content-info{
    color: #9398aa;
    font-size: 15px;
    margin-bottom: 30px;
}
a.btn-link{
    display: inline-block;
    font-size: 15px;
    color: #378ff1;
    line-height: 21px;
}
#userpw{
    padding: 0 60px 0 16px;
}
.pwd-strength-meter{
    position: absolute;
    top: 0;
    right: 15px;
    line-height: 50px;
    user-select: none;
}
.grade{
    font-size: 15px;
    font-weight: 700;
}
.pwd-strength-meter[data-meter="0"] .grade{
    color: #da3f34;
}
.pwd-strength-meter[data-meter="1"] .grade{
    color: #ff914d;
}
.pwd-strength-meter[data-meter="2"] .grade{
    color: #0eb9b3;
}
.pwd-strength-meter[data-meter="3"] .grade{
    color: #2e79ea;
}
.contents .input-group input:disabled {
    background-color: #efeff4;
    border: 1px solid #d5d9e2;
}
.input-group input.invalid{
    border: 1px solid #da3c31;
}
.input-group .msg.invalid {
    color: #da3c31;
}
.icon-confirm{ 
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: absolute;
    right: 15px;
    width: 15px;
    height: 50px;
    z-index: 999;
}
.icon-confirm span {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}
.icon-confirm:after {
    content: "";
    display: block;
    width: 7px;
    height: 13px;
    border: 3px solid #378ff1;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.btn-reset{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: absolute;
    top: 0; right: 10px;
    z-index: 999;
    width: 30px;
    height: 50px;
    cursor: pointer;
}
.btn-reset button{
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.btn-reset button::before{
    content: "";
    position: absolute;
    top: 15px;
    left: 5px;
    width: 64%;
    height: 1px;
    margin-top: -1px;
    background: #b9bcc6;
        transform: rotate(45deg);
}
.btn-reset button::after{
    content: "";
    position: absolute;
    top: 15px;
    left: 5px;
    width: 64%;
    height: 1px;
    margin-top: -1px;
    background: #b9bcc6;
    transform: rotate(-45deg);
}

.success-text{
    color: #378ff1;
}


.msg{
    display: inline-block;
    width: 100%;
    font-size: 14px;
    padding-top: 8px;
    padding-bottom: 7px;
}
.input-radio-group{
    margin-bottom: 8px;
    text-align: center;
}
.ck-radio input[type="radio"]{
    display: none;
}
.ck-radio input[type="radio"] + span{
    display: inline-block;
    background: none;
    border: 1px solid #d5d9e2;
    padding:  0 10px;
    text-align: center;
    line-height: 50px;
    font-weight: 700;
    cursor: pointer;
    width: 49.6%;
}
.ck-radio input[type="radio"]:checked + span{
    border: 1px solid #378ff1;
    background: #378ff1;
    color: #fff;
}
.ck-radio input[type="radio"]:disabled + span{
    border: 2px solid #d1d1de;
    background-color: #d1d1de;
    cursor: default;
    color: #fff;
}

/* modal설정영역 */
.modal-container{
    display: none;
}
#modal{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0; left: 0;
    background: rgba(0,0,0,0.3);
}
.modal-content{
    position: fixed;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    max-width: 300px;
    min-height: auto;
    background: #fff;
}
.modal-content .content{
    padding: 30px;
    text-align: center;
}
.content h2.title{
    font-size: 15px;
    color: #535768;
    margin-bottom: 8px;
}
.modal-content .text{
    font-size: 15px;
    color: #535768;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.modal-content .actions a{
    text-align: center;
    display: block;
    widows: 100%;
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    background-color: #4998f1;
    text-decoration: none;
}