header a{
    display: inline-block; height: 35px; padding: 0 1.5rem;
    line-height: 2.1875rem; border: 1px solid #e6e6e6;
    border-radius: 1.25rem; color: #222;
    margin-top: 20px;
    margin-left: 20px;
}
.contents{
    max-width: 66.875rem; margin: 0 auto;
    padding-top: 40px;

}
.view-header{
	 position: relative;
    padding-bottom: 30px;
}
.view-header:after{

	    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    height: 1px;
    background-color: #eaecef;
    content: "";
}
.view-title{
    font-size: 2rem;
    color: #222222;
}
.header-group{
    display: flex;
    justify-content: space-between;
    color: #8c919a;
}
.action{
    display: inline-block;
}
.action-ul{
    display: flex;
}
.action-ul li{
   width: 60px;
   text-align: center;
}
.action-ul li a{
    color: #8c919a;
}
.action-ul li a:hover{
    color: #222;
}
.tagname{
    color: #f7a046;
}
.item-span-point{
    margin: 0 .3125rem;;
}
.date{
    margin: 0 .3125rem;;
}

.view-body{
    margin: 35px 0;
}
.img img{
	width: 15px;
    height: 15px;
}
